@page "/admin/login"
@using VisitorRegistrationShared.Dtos.Admin
@inject VisitorRegistrationUI.Services.AdminService adminService
@inject NavigationManager navManager

<FluentButton OnClick="BackToHome"
              IconStart="@(new Icons.Filled.Size48.ArrowCircleLeft())"
              Appearance="Appearance.Lightweight"
              Style="position: fixed; top: 10px; left: 10px; border: none; box-shadow: none; --neutral-fill-stealth-rest: transparent; color: #0078d4;">
</FluentButton>

<div class="flex-container">

    <h2>Admin Login</h2>

    <EditForm style="border-radius: 15px;
                         border: 2px solid black;
                         padding: 30px 50px 50px 50px;
                         background-color: white;
                         max-width: 550px;
                         width: 100%;"
              Model="@loginAdminDto" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />

        <FluentStack Style="display: flex; flex-direction: column; gap: 10px; width: 100%;">
            <p class="input-field">Email</p>
            <FluentTextField Style="border: 2px solid black; border-radius: 5px; height: 45px; font-size: 16px; width: 100%; height: 100%;"
                             @bind-Value="loginAdminDto.Email"
                             Placeholder="admin@example.com"
                             TextFieldType="TextFieldType.Email"
                             Required="true" />

            <p class="input-field">Wachtwoord</p>
            <FluentTextField Style="border: 2px solid black; border-radius: 5px; height: 45px; font-size: 16px; width: 100%; height: 100%;"
                             @bind-Value="loginAdminDto.Password"
                             Placeholder="Wachtwoord"
                             TextFieldType="TextFieldType.Password"
                             Required="true" />
        </FluentStack>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p style="color:red">@errorMessage</p>
        }

        <ValidationSummary style="padding-left: 15px; margin: 0px" />

        <FluentButton Type="ButtonType.Submit"
                      Appearance="Appearance.Accent"
                      Disabled="@isSubmitting"
                      Style="margin-top: 20px; width: 100%; height: 50px; font-size: 18px;">

            @(isSubmitting ? "Bezig..." : "Inloggen")
        </FluentButton>

    </EditForm>

</div>


@code {
    private LoginAdminDto loginAdminDto = new() { Email = "", Password = "" };

    private bool isSubmitting = false;

    private string errorMessage = string.Empty;

    private async Task HandleLogin()
    {
        isSubmitting = true;
        errorMessage = string.Empty;

        try
        {
            var result = await adminService.Login(loginAdminDto);

            if (result.Success)
            {
                navManager.NavigateTo("/admin/dashboard");
            }
            else
            {
                errorMessage = "Ongeldige inloggegevens";
            }
        }
        catch (Exception)
        {
            errorMessage = $"Er is een fout opgetreden";
        }
        finally
        {
            isSubmitting = false;
        }
    }
    private void BackToHome()
    {
        navManager.NavigateTo("/");
    }
}

