@page "/appointment"
@using VisitorRegistrationShared.Dtos.Appointments
@using VisitorRegistrationShared.Dtos.Company
@using VisitorRegistrationShared.Dtos.Employee
@using VisitorRegistrationShared.Dtos.Visitor
@using VisitorRegistrationUI.Models
@using VisitorRegistrationUI.Services
@inject VisitorService visitorApi
@inject CompanyService companyApi
@inject EmployeeService employeeApi
@inject AppointmentService appointmentApi
@inject NavigationManager navManager

<div class="flex-container">

    <FluentButton OnClick="BackToHome"
                  IconStart="@(new Icons.Filled.Size48.ArrowCircleLeft())"
                  Appearance="Appearance.Lightweight"
                  Style="position: fixed; top: 10px; left: 10px; border: none; box-shadow: none; --neutral-fill-stealth-rest: transparent; color: #0078d4;">
    </FluentButton>
    <h2>Maak een afspraak</h2>

    <FluentDialog @bind-Hidden="Hidden" Style="text-align: center;">
        <FluentDialogHeader Visible="false" />
        <h3>@DialogTitle</h3>
        <p>@Message</p>
        <FluentButton Appearance="Appearance.Accent" Autofocus="true" OnClick="GoToRegisterPage">Registreren</FluentButton>
        <FluentButton BackgroundColor="red" Color="white" Autofocus="true" OnClick="BackToHome">Cancel</FluentButton>
    </FluentDialog>

    <FluentDialog @bind-Hidden="resultHidden" Style="text-align: center;">
        <FluentDialogHeader Visible="false" />
        <h3>@DialogTitle</h3>
        <p>@Message</p>
        <FluentButton Appearance="Appearance.Accent" Autofocus="true" OnClick="CloseResultDialog">Terug</FluentButton>
    </FluentDialog>

    @if (!visitorFound)
    {
        <EditForm style="border-radius: 15px;
                                     border: 2px solid black;
                                     padding: 30px 50px 50px 50px;
                                     background-color: white;
                                     max-width: 550px;
                                     width: 100%;"
                  Model="@emailModel"
                  OnValidSubmit="SearchVisitorByEmail">
            <DataAnnotationsValidator />

            <FluentStack Style="display: flex; flex-direction: column; gap: 10px; width: 100%;">

                <p class="input-fields">Vul uw e-mailadres in</p>

                <FluentTextField @bind-Value="emailModel.Email"
                                 Required="true" Type="email"
                                 Placeholder="john@example.com" />

                <ValidationSummary style="padding-left: 15px; margin: 0px;" />

                <FluentButton Style="margin-top: 20px;
                                                 width: 100%;
                                                 height: 50px;
                                                 font-size: 18px;"
                              Type="ButtonType.Submit"
                              Appearance="Appearance.Accent">Submit</FluentButton>
            </FluentStack>
        </EditForm>
    }

    @if (visitorFound)
    {
        <EditForm style="border-radius: 15px;
                             border: 2px solid black;
                             padding: 30px 50px 50px 50px;
                             background-color: white;
                             max-width: 550px;
                             width: 100%;"
                  Model="@appointmentModel"
                  OnValidSubmit="PrepareAppointment">

            <h3 style="font-size: 24px; text-align: center; margin-bottom: 20px;">Welkom terug @visitor?.Firstname!</h3>

            <DataAnnotationsValidator />

            <FluentStack Style="display: flex; flex-direction: column; gap: 15px; width: 100%;">

                <p class="input-field">Kies een bedrijf</p>

                <FluentSelect TOption="GetCompanyDto"
                              @bind-Value="appointmentModel.CompanyId"
                              @bind-Value:after="OnCompanyChanged"
                              Style="width: 100%; font-size: 16px; height: 50px; border: 2px solid black; border-radius: 5px;">

                    <FluentOption Value="" Selected="true">Selecteer...</FluentOption>
                    @foreach (var c in companies)
                    {
                        <FluentOption Value="@c.CompanyId.ToString()">@c.CompanyName</FluentOption>
                    }
                </FluentSelect>

                @if (!string.IsNullOrEmpty(appointmentModel.CompanyId))
                {
                    <p class="input-field">Kies een werknemer</p>

                    <FluentSelect TOption="GetEmployeeDto"
                                  @bind-Value="appointmentModel.EmployeeId"
                                  Style="width: 100%; font-size: 16px; height: 50px; border: 2px solid black; border-radius: 5px;">
                        <FluentOption Value="" Selected="true">Selecteer...</FluentOption>
                        @foreach (var e in employees)
                        {
                            <FluentOption Value="@e.EmployeeId.ToString()">@e.FirstName @e.LastName | @e.Title</FluentOption>
                        }
                    </FluentSelect>
                }

                @if (!string.IsNullOrEmpty(appointmentModel.EmployeeId))
                {
                    <p class="input-field">Kies een datum</p>

                    <FluentDatePicker Culture="@(new System.Globalization.CultureInfo("nl-NL"))"
                                      @bind-Value="appointmentModel.AppointmentDate"
                                      Placeholder="Selecteer een datum"
                                      Style="width: 100%; font-size: 16px; height: 45px; border: 2px solid black; border-radius: 5px; height: 100%" />
                }

                @if (appointmentModel.AppointmentDate != null)
                {
                    <p class="input-field">Start tijd</p>

                    <FluentTimePicker @bind-Value="appointmentModel.StartTime"
                                      Placeholder="Kies een starttijd"
                                      Style="width: 100%; font-size: 16px; height: 50px; border: 2px solid black; border-radius: 5px; height: 100%" />

                    <p class="input-field">Eind tijd</p>

                    <FluentTimePicker @bind-Value="appointmentModel.EndTime"
                                      Placeholder="Kies een eindtijd"
                                      Style="width: 100%; font-size: 16px; height: 50px; border: 2px solid black; border-radius: 5px; height: 100%" />
                }

                @if (!string.IsNullOrEmpty(dateError) || !string.IsNullOrEmpty(timeError))
                {
                    <ul class="validation-errors">
                        @if (!string.IsNullOrEmpty(dateError))
                        {
                            <li>@dateError</li>
                        }
                        @if (!string.IsNullOrEmpty(timeError))
                        {
                            <li>@timeError</li>
                        }
                    </ul>
                }

                <ValidationSummary />

                @if (appointmentModel.StartTime != null && appointmentModel.EndTime != null)
                {
                    <FluentButton Type="ButtonType.Submit"
                                  Appearance="Appearance.Accent"
                                  Style="margin-top: 10px; width: 100%; height: 50px; font-size: 18px;">
                        Volgende
                    </FluentButton>
                }
            </FluentStack>
        </EditForm>

        <FluentDialog @bind-Hidden="summaryHidden" Style="text-align: center">
            <FluentDialogHeader Visible="false" />
            <h3>Bevestig afspraak</h3>
            <p>Bedrijf: @companies.FirstOrDefault(c => c.CompanyId == appointment.CompanyId)?.CompanyName</p>
            <p>
                Werknemer: @employees.FirstOrDefault(e => e.EmployeeId == appointment.EmployeeId)?.FirstName
                @employees.FirstOrDefault(e => e.EmployeeId == appointment.EmployeeId)?.LastName |
                @employees.FirstOrDefault(e => e.EmployeeId == appointment.EmployeeId)?.Title
            </p>
            <p>Datum: @appointment.AppointmentStartDate.ToString("dd-MM-yyyy")</p>
            <p>Tijd: @appointment.AppointmentStartDate.ToString("HH:mm") - @appointment.AppointmentEndDate.ToString("HH:mm")</p>
            <FluentButton Appearance="Appearance.Accent" Autofocus="true" OnClick="ConfirmAppointment">Bevestigen</FluentButton>
            <FluentButton BackgroundColor="red" Color="white" OnClick="CancelSummary">Annuleren</FluentButton>
        </FluentDialog>
    }

</div>

<div>
</div>

@code {
    private EmailModel emailModel = new();
    private GetVisitorDto? visitor;
    private bool Hidden = true;

    private bool visitorFound = false;

    private CreateAppointmentDto appointment = new()
    {
        AppointmentStartDate = DateTime.Now,
        AppointmentEndDate = DateTime.Now.AddHours(1),
        VisitorId = 0,
        EmployeeId = 0,
        CompanyId = 0
    };

    private List<GetCompanyDto> companies = new();

    private List<GetEmployeeDto> employees = new();

    private AppointmentModel appointmentModel = new();

    private string dateError = string.Empty;
    private string timeError = string.Empty;

    private bool summaryHidden = true;

    public bool isSubmittingAppointment = false;

    private string Message = string.Empty;
    private string DialogTitle = string.Empty;
    private bool resultHidden = true;

    private async Task SearchVisitorByEmail()
    {
        visitor = await visitorApi.GetVisitorByEmailAsync(emailModel.Email);

        if (visitor == null)
        {
            DialogTitle = "Email werd niet gevonden";
            Message = "Wilt u zich registreren?";
            Hidden = false;
        }
        else
        {
            visitorFound = true;
            appointment.VisitorId = visitor.Id;
            await LoadCompanies();
        }
    }

    private async Task LoadCompanies()
    {
        var allCompanies = await companyApi.GetCompanies();

        var companiesWithEmployees = new List<GetCompanyDto>();

        foreach (var company in allCompanies)
        {
            var employees = await employeeApi.GetEmployeesByCompany(company.CompanyId);
            if (employees.Any())
            {
                companiesWithEmployees.Add(company);
            }
        }

        companies = companiesWithEmployees;
    }

    private async Task LoadEmployeesBasedOnCompany(string companyId)
    {
        employees.Clear();
        appointmentModel.EmployeeId = "";

        if (!int.TryParse(companyId, out int id))
            return;

        employees = await employeeApi.GetEmployeesByCompany(id);
    }

    private async Task OnCompanyChanged()
    {
        await LoadEmployeesBasedOnCompany(appointmentModel.CompanyId);
    }

    private bool ValidateDateLogic()
    {
        dateError = "";
        timeError = "";

        if (appointmentModel.AppointmentDate == null)
        {
            dateError = "Selecteer een datum";
            return false;
        }

        if (appointmentModel.StartTime == null || appointmentModel.StartTime.Value.TimeOfDay == TimeSpan.Zero)
        {
            timeError = "Selecteer een starttijd";
            return false;
        }

        if (appointmentModel.EndTime == null || appointmentModel.EndTime.Value.TimeOfDay == TimeSpan.Zero)
        {
            timeError = "Selecteer een eindtijd";
            return false;
        }

        var start = appointmentModel.AppointmentDate.Value.Date + appointmentModel.StartTime.Value.TimeOfDay;

        var end = appointmentModel.AppointmentDate.Value.Date + appointmentModel.EndTime.Value.TimeOfDay;

        if (start < DateTime.Now)
        {
            dateError = "De afspraak kan niet in het verleden liggen";
            return false;
        }

        if (end <= start)
        {
            timeError = "Eindtijd moet later zijn dan de starttijd";
            return false;
        }

        return true;
    }

    private async Task PrepareAppointment()
    {
        dateError = "";
        timeError = "";

        if (!ValidateDateLogic())
            return;

        appointment.CompanyId = int.Parse(appointmentModel.CompanyId);
        appointment.EmployeeId = int.Parse(appointmentModel.EmployeeId);

        appointment.AppointmentStartDate = appointmentModel.AppointmentDate!.Value.Date.Add(appointmentModel.StartTime!.Value.TimeOfDay);

        appointment.AppointmentEndDate = appointmentModel.AppointmentDate!.Value.Date.Add(appointmentModel.EndTime!.Value.TimeOfDay);

        summaryHidden = false;
    }

    private async Task ConfirmAppointment()
    {
        if (isSubmittingAppointment)
            return;

        isSubmittingAppointment = true;

        try
        {
            var result = await appointmentApi.CreateAppointment(appointment);

            if (result.Success)
            {
                DialogTitle = "Afspraak Bevestigd";
                Message = "Uw afspraak is succesvol aangemaakt";
                summaryHidden = true;
                Hidden = false;
                await BackToHome();
            }
            else
            {
                DialogTitle = "Er is een fout opgetreden";
                Message = result.ErrorMessage ?? "Er ging iets mis";
                summaryHidden = true;
                resultHidden = false;
            }
        }
        catch (Exception ex)
        {
            Message = "Er is een fout opgetreden bij het versturen van de gegevens.";
            resultHidden = false;
            summaryHidden = true;
            Console.WriteLine(ex.Message);
        }
        finally
        {
            isSubmittingAppointment = false;
        }
    }

    private void CancelSummary()
    {
        summaryHidden = true;
    }

    private async Task GoToRegisterPage()
    {
        navManager.NavigateTo("/register");
    }

    private async Task BackToHome()
    {
        navManager.NavigateTo("/");
    }

    private void CloseResultDialog()
    {
        resultHidden = true;
    }
}